@import './fonts.css';

* {
    box-sizing: border-box;
    font-family: 'Gotham';
}

/* Start Header Styles
------------------------------------------------------ */

.region-header {
    padding: 2em;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.menu--main > .menu {
    display: flex;
    font-family: "GothamHTF";
    font-weight: bold;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.menu--main > .menu > .menu-item {
    padding: 1em;
}

.menu--main > .menu > .menu-item > a {
    color: #686159;
    text-decoration: none;
}

.menu--main > .menu > .menu-item > a:hover {
    color: #1f1d1a
}

.menu--main > .menu > .menu-item > .is-active {
    color: #469d8a;
}

.menu--main > .menu > .menu-item > .is-active:hover {
    color: #21574b;
}