@import './fonts.css';

* {
    box-sizing: border-box;
    font-family: 'Gotham';
}

/* Start Global Styles
------------------------------------------------------ */

.blue-header {
    color:#1b72aa;
}

.banner {
    color: white;
    text-align: center;
    top: -90;
    width: 100vw;
    z-index: -1;
}

.banner > img {
    width: 100%;
}

.banner > h2 {
    background-color: rgba(32, 105, 175, 0.7);
    font-size: 3.5em;
    left: 50%;
    margin: 0;
    padding: 0.5em 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* End Global Styles
------------------------------------------------------ */
/* Start Header Styles
------------------------------------------------------ */

.region-header {
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    position: fixed;
    top: -90; 
    width: 100vw;
    z-index: 100;
    -moz-box-shadow:    0px 2px 5px 1px rgb(97 95 95);
    -webkit-box-shadow: 0px 2px 5px 1px rgb(97 95 95);
    box-shadow:         0px 2px 5px 1px rgb(97 95 95);
}

.header-content {
    display: flex;
    justify-content: space-between;
}

#block-socialsmenu {
    width: 50%;
}

.header-content__options {
    width: 30%;
}

.header-content__options__nav {
    display: flex;
    height: 50%;
    justify-content: space-between;
}

.header-content__options__nav > .text-formatted {
    margin-top: 7px;
}

.header-content__options__nav > .text-formatted > a {
    height: 32px;
    display: inline-block;
}

.menu--main > .menu {
    display: flex;
    font-family: "GothamHTF";
    font-weight: bold;
    justify-content: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 70%;
}

.menu--main > .menu > .menu-item {
    padding: 1em;
}

.menu--main > .menu > .menu-item > a {
    color: #686159;
    text-decoration: none;
}

.menu--main > .menu > .menu-item > a:hover {
    color: #1f1d1a
}

.menu--main > .menu > .menu-item > .is-active {
    color: #469d8a;
}

.menu--main > .menu > .menu-item > .is-active:hover {
    color: #21574b;
}

.language-switcher {
    width: 50%;
}

.language-links-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.language-link {
    font-size: 0;
    line-height: 0;
    color: transparent;
    height: 100%;
}

.language-link > img {
    height: 27px;
    width: 36px;
}

/* End Header Styles 
----------------------------------------------------- */

/* Start CTA Styles 
----------------------------------------------------- */

.main-cta {
    background-color: #86bbda;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

.main-cta > h3 {
    font-family: 'Roboto';
    font-size: 3.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 90%;
}

.main-cta > p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.main-cta > button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    font-size: 2em;
    outline: none;
}

.main-cta > button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.main-cta > button:active {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
}

/* End CTA Styles 
----------------------------------------------------- */

/* Start Divider Styles 
----------------------------------------------------- */

.verticle-divider, .horizontal-divider {
    background-color: #1f1d1a;
}

.verticle-divider {
    margin-left: 2em;
    margin-right: 2em;
    width: 1px;
}

.horizontal-divider {
    height: 1px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
}

/* End Divider Styles 
----------------------------------------------------- */

/* Start Standard Layout Styles 
----------------------------------------------------- */

.standard-layout {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

/* End Standard Layout Styles 
----------------------------------------------------- */

/* Start Single Testimonial Styles 
----------------------------------------------------- */

.view-single-testimonial > .view-content {
    background-color: #f0f5fe;
    border: 1px solid black;
    color: #274467;
    font-size: 2em;
    padding: 1em;
    text-align: left;
}

.view-single-testimonial > .view-content > p {
    margin: 0;
}

.bio-right__testimonial > .quote {
    font-style: italic;
    margin-bottom: 1em;
}

/* End Single Testimonial Styles 
----------------------------------------------------- */

/* Start Single Blog Styles 
----------------------------------------------------- */

.view-single-blog-post {
    background-color: #96dacb;
}

.view-single-blog-post > .view-content > .views-row > .views-field-field-image > img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.view-single-blog-post > .view-content > .views-row > .views-field-title {
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
}

.view-single-blog-post > .view-content > .views-row > .views-field-body {
    padding: 0em 1em;
    -webkit-box-decoration-break: clone;
}

.view-single-blog-post > .view-content > .views-row {
    padding-bottom: 1em;
}

.view-single-blog-post > .view-content > .views-row > .views-field-view-node > .field-content > a {
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
}

.view-single-blog-post > .view-content > .views-row > .views-field-view-node > .field-content > a:hover {
    color: #3f3f3e;
}

.view-single-blog-post > .view-content > .views-row > .views-field-view-node > .field-content > a:active {
    color: white;
}

/* End Single Blog Styles 
----------------------------------------------------- */

/* Begin carousel styles
----------------------------------------------------- */

.carousel {
    color: white;
    text-align: center;
    top: -90;
    width: 100vw;
    z-index: -1;
}

.carousel-img {
    width: 100%;
}

.carousel-title {
    font-size: 5.5em;
    left: 50%;
    letter-spacing: 0.03em;
    position: absolute;
    text-shadow: -2px 2px black;
    top: 42%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.carousel-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    color: black;
    font-size: 2em;
    left: 50%;
    outline: none;
    position: absolute;
    top: 59%;
    transform: translate(-50%, -50%);
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-btn:active {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
}

/* End carousel styles 
----------------------------------------------------- */

/* Start message from Polina styles
----------------------------------------------------- */

.message {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.message-left {
    display: flex;
    width: 70%;
}

.message-left__text > h3 {
    color: #1b72aa;
    font-family: 'Roboto';
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.message-left__img {
    padding-right: 1em;
}

.message-divider {
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
    width: 2px;
}

.message-right {
    background-color: #86bbda;
    text-align: center;
    width: 30%;
}

.message-right > h3 {
    font-family: 'Roboto';
    font-size: 3.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 90%;
}

.message-right > p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.message-right > button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    font-size: 2em;
    outline: none;
}

.message-right > button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.message-right > button:active {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
}

/* End message from Polina styles
----------------------------------------------------- */

/* Start translation services styles
----------------------------------------------------- */

.translation-services {
    background-color: #1b72aa;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    margin-top: 4em;
    padding: 2em;
}

.translation-services-box {
    background-color: white;
    display: flex;
}

.translation-services__text {
    margin-bottom: auto;
    margin-top: auto;
    padding: 1em;
}

.translation-services__text > h4 {
    color: #1b72aa;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.translation-services__text > p {
    color: #686159;
}

.translation-services__text > p > a {
    color: black;
    cursor: pointer;
    font-family: 'Roboto';
}

.translation-services__text > p > a:hover {
    color: #686159;
}

/* End translation services styles
----------------------------------------------------- */

/* Start testimonials snippet styles
----------------------------------------------------- */

.testimonials-container {
    display: inline;
    float: left;
    padding: 2em;
    width: 70%;
}

.testimonials-container > h3 {
    color: #1b72aa;
    font-size: 2.5em;
    margin: 0;
}

.testimonials-container > p {
    font-style: italic;
}

.feed-icons {
    display: none;
}

/* End testimonials snippet styles
----------------------------------------------------- */

/* Start footer styles
----------------------------------------------------- */

.region-footer {
    background-color: #686159;
    color: white;
    display: flex;
    margin-bottom: 8em;
    padding: 4em 2em 3em 2em;
}

.region-footer__right {
    margin-bottom: auto;
    margin-left: 5em;
}

#block-mainnavigation-2 > .menu {
    margin-top: 0;
}

#block-mainnavigation-2 > .menu > .menu-item > a {
    color: white;
    padding: 1em;
}

#block-mainnavigation-2 > .menu > .menu-item {
    padding: 0;
}

#block-mainnavigation-2 > .menu > .menu-item > .is-active {
    display: none;
}

#block-mainnavigation-2 > .menu > .menu-item > a:hover {
    color:rgb(168, 168, 168);
}

#block-footerinfo {
    padding: 1em;
}

.footer-info__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
    padding-top: 2em;
    width: 50%;
}

.footer-info__top > a {
    cursor: pointer;
}

.footer-info__top > a:hover {
    color: rgb(168, 168, 168);
}

.footer-info__bottom {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

/* End footer styles
----------------------------------------------------- */

/* Start about styles
----------------------------------------------------- */

.about-banner > h2 {
    top: 65%;
}

#block-aboutcontent {
    width: 70%;
}

.about-content > h2 {
    font-size: 2em;
    margin-top: 0;
}

.about-content > p {
    color: #686159;
}

.about-aside {
    width: 30%;
}

/* End about styles
----------------------------------------------------- */

/* Start testimonials styles
----------------------------------------------------- */

.testimonials-banner > h2 {
    top: 55%;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.testimonials-left {
    min-width: 70%;
}

.testimonials-left > h3 {
    color: #1b72aa;
    font-size: 2em;
    margin-top: 0;
}

.testimonials-left > p {
    color: #686159;
    font-size: 1.5em;
}

.testimonials-left__quote {
    font-style: italic;
    margin-top: 2em;
}

.testimonials-divider {
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
    width: 1px;
}

.testimonials-right__divider {
    background-color: black;
    height: 1px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
}

.testimonials-right__cta {
    background-color: #86bbda;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

.testimonials-right__cta > h3 {
    font-family: 'Roboto';
    font-size: 3.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 90%;
}

.testimonials-right__cta > p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.testimonials-right__cta > button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    font-size: 2em;
    outline: none;
}

.testimonials-right__cta > button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.testimonials-right__cta > button:active {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
}

.testimonials-right__testimonial {
    background-color: #f0f5fe;
    border: 1px solid black;
    color: #274467;
    font-size: 2em;
    padding: 1em;
    text-align: left;
}

.testimonials-right__testimonial > p {
    margin: 0;
}

.testimonials-right__testimonial > .quote {
    font-style: italic;
    margin-bottom: 1em;
}

/* End testimonials styles
----------------------------------------------------- */

/* Start services styles
----------------------------------------------------- */

.services-banner > h2 {
    top: 55%;
}

.services-content-wrapper {
    width: 70%;
}

.services-content > h2 {
    font-size: 3em;
    margin: 0;
}

.services-content-wrapper {
    color: #686159;
}

.services-aside {
    width: 30%;
}

.views-field-field-service-name {
    font-weight: bold;
}

.view-services {
    margin-top: 3em;
}

.view-services > .view-content > .views-row {
    margin-bottom: 3em;
}

.view-field-field-services-name {
    font-size: 1.1em;
    font-weight: bold;
}